<div class="error-section" *ngIf="!user">
  <div class="skull">
    <div class="head">
      <div class="crack"></div>
    </div>
    <div class="mouth">
      <div class="teeth"></div>
    </div>
  </div>
  <p class="strong">{{ message }}</p>
  <p>Você precisa visitar esta página com uma conexão de rede ativa, antes de poder trabalhar off-line.</p>
</div>