<div (click)="onSearch(item.skuId)" style="cursor: hand">
  <p>
    <a class="title" target="_blank" rel="noopener">
      {{item.name}}
    </a>
    <span *ngIf="item.domain" class="domain">({{item.domain}})</span>
  </p>

  <div class="subtext-laptop">
    <span>
      <img src="{{item.imageUrl}}" />
    </span>
    <span>
      De: {{item.priceFrom | currency:'BRL':true:'1.2-2'}} por {{item.priceBy | currency:'BRL':true:'1.2-2'}} 
    </span>
  </div>

   <div class="subtext-laptop">
      <span>
        <small>
          Item: {{ item.skuId }}
        </small>
      </span>
   </div>
</div>
