<nav class="navbar navbar-default navbar-inverse" role="navigation">  
  <div class="container-fluid" id="header">
    <div class="navbar-header">    
        <a class="home-link" routerLink="/home" routerLinkActive="active" (click)="scrollTop()">
          <div class="logo-inner"></div>
          <img  src="assets/images/logo-header.png" alt="Logo">
        </a>
    </div>
    
    <div class="collapse navbar-collapse"> 
      <div class="navbar-form navbar-left" role="search">
        <div class="form-group">
           <div class="input-group">
                <input #search type="text" class="form-control" (keyup.enter)="onSearch(search.value)" placeholder="Pesquisar">
                <div class="input-group-btn">
                    <button class="btn btn-default" (click)="onSearch(search.value)"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>      
      </div>      

      <ul class="nav navbar-nav pull-right" style="margin:9px;">
        <div id="dropdown" class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Departamentos
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenu">
              <li *ngFor="let departamento of departamentos">
                <button class="btn btn-default" (click)="onSearch(departamento.Nome)" >{{departamento.Nome}}</button>
              </li>            
            </ul>
      </div>
      </ul>  
    </div>
  </div>
</nav>