<div class="main-content" style="margin-top: -22px;">
  <app-loader *ngIf="errorMessage"></app-loader>
  <app-error-message [message]="errorMessage" *ngIf="errorMessage"></app-error-message>

  <section>  
    <section>      
      <h4>{{productName}}</h4>
      <h5 style="color:#337ab7"><small style="color:#337ab7">(Cód. Item {{skuId}}) Outros produtos <a href="http://www.casasbahia.com.br/{{brand}}/?Filtro=M{{brandId}}">{{brand}}</a>.</small></h5>                      
    </section>

    <section>
      <div>
        <div class="row">
          <div class="col-md-12">
            <carousel [interval]="nextPhotoInterval" [noWrap]="noLoopSlides">
              <slide *ngFor="let slidez of slides; let index=index;" [active]="slidez.active">
                <img [src]="slidez.image" style="margin:auto;">

                <div class="carousel-caption">                  
                  <p  style="background-color: transparent;color: white;">{{slidez.text}}</p>
                </div>
              </slide>
            </carousel>
          </div>     
        </div> 
      </div>
    </section>

    <section>

       <div class="container-fluid">
          <div class="row">
            <div *ngIf="precoDe != precoPor">
              <div class="col-sm-6">
                <h6 class="title-price"><small>DE</small></h6>
                <h3 style="margin-top:0px;">{{precoDe  | currencyFormat }}</h3>
              </div>
              <div class="col-sm-6">
                <h6 class="title-price"><small>POR</small></h6>
                <h3 style="margin-top:0px;">{{precoPor | currencyFormat }}</h3>
              </div>
            </div>
          </div>

          <div *ngIf="precoDe == precoPor">            
              <h6 class="title-price"><small>POR</small></h6>
              <h3 style="margin-top:0px;">{{precoPor | currencyFormat }}</h3>              
          </div>
      </div>

       <div class="section" style="padding-bottom:20px;">
            <a href="https://carrinho.casasbahia.com.br/?idSku={{skuId}}" class="btn btn-success" role="button"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Comprar</a>
            <h6><button (click)="onWeddingClick()"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> Adicionar à Lista de Casamento</button></h6>
        </div>
    </section>                    

    <section>
      <div>
        <h4 style="margin-top:0px;">
          Detalhes {{productName}}              
        </h4>
      </div>
      <div>
        <small>
          <div [innerHTML]="description"></div><br/>
        </small>
      </div>
    </section>
    
    <section>
      <div *ngFor="let item of ficha">
         <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{item.Nome}}</h3>
            </div>
            <div class="panel-body">
              <small>
                <div *ngFor="let especificacao of item.Especificacoes">             
                    {{especificacao.Nome}}:
                      <span [innerHTML]="especificacao.Valor">             
                      </span>             
                </div>
              </small>
            </div>
          </div>        
      </div>
    </section>

  </section>
</div>
