<div class="main-content" style="margin-top: -22px;">
  <app-loader *ngIf="errorMessage"></app-loader>
  <app-error-message [message]="errorMessage" *ngIf="errorMessage"></app-error-message>

  <section>
      <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <p>
                <carousel [interval]="nextPhotoInterval" [noWrap]="noLoopSlides">
                    <slide *ngFor="let slidez of slides; let index=index;" [active]="slidez.active">
                        <div>
                            <img [src]="slidez.image" style="margin:auto;">

                            <div class="carousel-caption">                  
                            <p  style="background-color: transparent;color: white;">{{slidez.text}}</p>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </p>  
            </div>   
        </div> 
        <div class="row" *ngFor="let banner of bannersPage" >
            <div class="col-md-12" *ngIf="banner.columns === 1">
                <div class="text-center">
                    <p>
                        <img src="{{banner.image}}" />
                    </p>
                </div>
            </div>   

            <div class="col-md-12" *ngIf="banner.columns === 2">
                <div class="col-md-6" *ngFor="let item of banner.items">
                    <div class="text-center">
                        <p>
                            <img src="{{item.image}}" />
                        </p>
                    </div>
                </div>
            </div>   

            <div class="col-md-12" *ngIf="banner.columns === 3">
                <div class="col-md-4" *ngFor="let item of banner.items">
                     <div class="text-center">
                        <p>
                            <img src="{{item.image}}" />
                        </p>
                    </div>
                </div>
            </div>   
        </div> 
      </div>
    </section>
</div>
